<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>About Us</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
    <link href="../../../resources/css/agency.css" rel="stylesheet" media="screen" th:href="@{/resources/css/agency.css}"/>

</head>
<body>
<div th:replace="fragments/header :: header">Header</div>

<div class="container" style="min-height:100%">
    <div class="text-center">
        <h1>Welcome!</h1>
        <p class="lead">
            <b>We Found It!</b>
            The largest database of Lost &amp; Found.
        </p>
        <p>
            Lakhs of people including children &amp; elderly go missing every year in india. About 45% of those remain untraceable.
        </p>
        <p>
            WeFoundIt brings a completely crowdsourced platform (available on both web and mobile) to enable real-time collaboration among people to help people find their loved ones and important things. Everyone can help someone, lets bring this world closer than ever!
        </p>
        <p></p>
        <a class="twitter-timeline" href="https://twitter.com/WeFoundBot" data-widget-id="696265762298658817">Tweets by @WeFoundBot</a>

    </div>
</div>


<div th:replace="fragments/footer :: footer">&copy; 2013 The Static Templates</div>

</body>
</html>